body { background-color: hsl(177, 83%, 84%) }
#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}
#articles {
  display: inline-block;
  overflow: auto;
  width: 60%;
  height: 700px;
}
#notes {
  float: right;
  width: 30%;
}
textarea, input {
  display: block;
  width: 100%;
  background-color: #e8eaec;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  color: #031a15;
  height: 200px;
  font-size: 18px;
}